
## <summary>policy for infincoin</summary>


########################################
## <summary>
##	Transition to infincoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`infincoin_domtrans',`
	gen_require(`
		type infincoin_t, infincoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, infincoin_exec_t, infincoin_t)
')


########################################
## <summary>
##	Execute infincoin server in the infincoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`infincoin_initrc_domtrans',`
	gen_require(`
		type infincoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, infincoin_initrc_exec_t)
')


########################################
## <summary>
##	Search infincoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`infincoin_search_lib',`
	gen_require(`
		type infincoin_var_lib_t;
	')

	allow $1 infincoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read infincoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`infincoin_read_lib_files',`
	gen_require(`
		type infincoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, infincoin_var_lib_t, infincoin_var_lib_t)
')

########################################
## <summary>
##	Manage infincoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`infincoin_manage_lib_files',`
	gen_require(`
		type infincoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, infincoin_var_lib_t, infincoin_var_lib_t)
')

########################################
## <summary>
##	Manage infincoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`infincoin_manage_lib_dirs',`
	gen_require(`
		type infincoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, infincoin_var_lib_t, infincoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a infincoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`infincoin_admin',`
	gen_require(`
		type infincoin_t;
		type infincoin_initrc_exec_t;
		type infincoin_var_lib_t;
	')

	allow $1 infincoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, infincoin_t)

	infincoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 infincoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, infincoin_var_lib_t)

')

